body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

div {
  background-color: #e4f9f5;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  color: #313552;
}

.top-cont {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}

p {
  font-family: "Montserrat Alternates", sans-serif;
}

h2 {
  font-size: 2.5rem;
  color: #313552;
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: auto;
}
